body {
  width: 600px;
  background-color: rgb(65, 233, 255);
  font-family: 'Balsamiq Sans', cursive;
  padding-left: 1.25%;
  padding-top: 0.8%;
  padding-right: 1%;
}
#construction {
  background-color: rgb(65, 233, 255);
  color: rgb(65, 233, 255);
}
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:&display=swap');