@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:&display=swap');

body {
  width: 600px;
  background-color: #41e9ff99;
  font-family: 'Balsamiq Sans', cursive;
  padding-left: 1.25%;
  padding-top: 0.8%;
  padding-right: 1%;
  line-height: 1;
}
.normalText {
  font-size: 14pt;
}

.welcome {
  font-size: 26pt;
  font-weight: bold;
}
.title {
  font-size: 24pt;
  font-weight: bold;
}
.topicHeading {
  font-size: 18pt;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.indexProgressContainer {
  width: 100%;
  background-color: transparent;
  height: 5px;
  display: block;
}
.indexProgress {
  background-color: #0078d7;
  width: 0%;
  display: block;
  height: inherit;
}

.standardHrLine {
  width: 800px;
  height: 1px;
  background-color: #000000;
  border-color: #000000;
  border-style: solid;
  border-radius: 1px;
}
.pageWidthLine {
  width: 96vw;
  height: 1px;
  background-color: #000000;
  border-color: #000000;
  border-style: solid;
  border-radius: 1px;
}

.pageContainer {
  width: 96vw;
  height: 100vh;
}
.normalContainer {
  padding-left: 4px;
  padding-right: 4px;
}
.fullBodyContainer {
  width: 96vw;
}

.normalTable {
  border-collapse: collapse;
  width: 200px;
  text-align: left;
}
.normalTableTd, .normalTableTh {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.normalTableTr:nth-child(even) {
  background-color: #dddddd;
}
.normalTableTr:nth-child(odd) {
  background-color: #ffffff;
}